@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "FigTree";
  background-color: #f4d04e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* Positioning */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  /* Styling */
  width: 400px;
  background-color: #ffff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 0px 2px black;
}

.article-image {
  align-self: center;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 15px;
  width: 95%;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}

.highlight {
  display: inline-block;
  background-color: #f4d04e;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.highlight-content {
  padding-left: 6px;
  padding-right: 6px;
}

.article-content .publish-date {
  margin-bottom: 15px;
}

.article-content .content-heading {
  font-weight: 700;
  margin-bottom: 15px;
}

.article-content .content-heading:hover {
  cursor: pointer;
  color: #f4d04e;
}

.article-content .description {
  color: #6b6b6b;
  margin-bottom: 20px;
  line-height: 1.5;
}

.attribution {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.attribution .avatar {
  max-height: 40px;
}

.attribution .author-name {
  font-weight: 700;
}

@media (max-width: 468px) {
  .container {
    max-width: 350px;
  }
}
